.d-flex {
    display: flex;
    align-items: center;
}

.s-between {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 90px;
}