*{
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background: #F3F3F3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top__panel-itself {
    padding:10px 20px;
    background: #2d394b; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.top__panel-linck {
    color: #9cc9f5;
    font-size: 14px;
    line-height: 28px;
    margin-right: 20px;
    max-width: 410px;
    display: flex;
    align-items: center;
}

.top__panel-icon {
    font-size: 14px !important;
    margin-right: 6px;
}

.top__panel-icon__blocks {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.smartphone {
    font-size: 25px !important;
    color: #fff;
    margin-right: 6px;
}

.tablet_mac {
    font-size: 25px !important;
    color: #fff;
    margin-right: 6px;
}

.desktop_windows {
    font-size: 35px !important;
    color: #fff;
}

.top__panel-btn__add {
    background: #31af36;
    color: #fff;
    min-width: 160px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 30px;
}

.btn__add-icon {
    margin-right: 6px;
    font-size: 16px !important;
} 

.top__panel-get__btn {
    background: #fff;
    color: #243238;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 20px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: none;
}

.btn__shopping_cart {
    background: transparent;
    border: none;
    margin-right: 40px;
}

.btn__shopping_cart span {
    font-size: 25px !important;
    color: #b3c8e7;;
}

.btn__arrow_drop_up {
    background: transparent;
    border: 1px solid #99a6b999;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    width: 40px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 5;
    right: 10px;
}

.btn__arrow_drop_up span { 
    font-size: 25px !important;
    color: #b3c8e7;; 
}

.header {

}

.contacts {
    display: flex;
    justify-content: center;
    background: #4D4D4D;
    height: 50px;
}

.contacts-content {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-number {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    color: #fff;
}

.phone-icon {
    color: #fff;
}

.header-center-bloc {
    display: flex;
    justify-content: center;
    height: 90px;
    background: #F3F3F3;
    padding: 0 90px;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotip {
}

.logo {
    width: 170px;
}

.header-search-bloc {
    display: flex;
    align-items: center;
}

.header-search {
    width: 280px;
    border: none;
    padding: 15px 20px 15px 10px;
    outline: none;
}

.search-btn {
    padding: 9px 13px 9px 9px;
    margin: 0;
    border: none;
    background: #fff;
    cursor: pointer;
}

.icon-search {
    color:#62bfc4;
}

.center-bloc-page-list {
    display: flex;
    align-items: center ;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 0 40px;
}

.center-bloc-page-list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8482cb;
    transform: skewX(-20deg);
    z-index: -1;
    left: 0px;
}

.page-list__linck {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page-list__linck:not(:last-child) {
    margin-right: 12px;
}

.linck-icons {
    font-size: 12px;
}

.linck-title,
.linck-icons {
    font-family:Raleway, sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 3px;
    line-height: 20px;
    color: #fff;
}

.currency {
    display: flex;
    align-items: center;
}

.currency-icon-arrow {
    color:  #2f2f2f;
    cursor: pointer;
}

.currency-title  {
    color: #2f2f2f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.header-bottom-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}

.sticky {
    top: 60px;
    content: "";
    position: sticky;
    display: flex;
    align-items: center;
    justify-content:center;
    background: #ffffffe8;
    z-index: 11;
}

.bottom-bloc__item-left {
    display: flex;
    align-items: center;
    height: 56px;
}

.item-left_list {
    display: flex;
    align-items: center;
    height: 100%;
}

.d-none-container {
    display: none;
    transition: all .25s ease-out;
    opacity: 11;
}

.block-d-none {
    content: "";
    position: absolute;
    top: 55px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    left: 90px;
    margin: auto;
    background: #62bfc4;
    padding:40px 30px;
    transition: 10s;
    transition: all .25s ease-out;
}

.block__d-none__active:hover
.block__d-none {
    display: block;

}

.menu__title {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.menu__title:hover,
.menu__list:hover {
    color: #333;
}

.menu__list {
    font-size: 12px;
    line-height: 30px;
    color: #fff;
}

.left_list__linck__activ {
    background: #62bfc4;
    color: #fff !important;
}

.left_list__linck:hover {
    background: #62bfc4;
    color: #fff !important; 
    transition: 2s;
}

.left_list__linck {
    font-family: Raleway, sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    color: #2f2f2f;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}

.list-icon-arrow_down {
    font-size: 16px !important;
    margin-left: 2px;
}

.bottom-bloc__item-right {
    display: flex;
    align-items: center;
}

.item-right__icon {
    color: #62bfc4;
    margin-right: 10px;
    font-size: 24px;
    line-height: 24px;
}

.item-right__title {
    font-family: Raleway, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #767676;
}


.content__top {
    width: 100%;
    margin-top: 30px;
    display: flex;
}


.content__left-block {
    width: 270px;
    background: #fff;
    margin-right: 30px;
    height: max-content;
}

.content-left__title {
    font-size: 18px;
    line-height: 30px;
    padding: 15px 30px;
    background: #62bfc4;
    color: #fff;
    font-weight: 600;
}

.menu-list {
    width: 270px;
}

.menu-list li:not(:last-child) {
    border-bottom: 1px solid #f3f3f3; 
}

.menu-list__link {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 30px;
    color: #2f2f2f;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}



.menu-list__link:hover {
    background: #62bfc4;
    color: #fff;
}

.content__righet-block {
    position: relative;
    width: 100%;
}

.btn__sealider {
    display: none;
}

.btn__sealider {
    height: 44px;
    width: 44px;
    color: #fff;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    position: absolute;
    content: "";
    cursor: pointer;
    border: none;
    background: #62bfc4;
}

.sealider__left {
    top: 50%;
}

.sealider__righet {
    right: 0;
    top: 50%;
}

.content__righet-block:hover 
.btn__sealider {
    display: block;
    transition: 5s;
}

.bottom__navigation__block {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    content: "";
    position: absolute;
    background: transparent;
    right: 40px;
    bottom: 40px;
}

.navigation__circle {
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    width: 26px;
    height: 26px;
    transition: all .5s ease;
    border: 2px solid #62bfc4;
}

.navigation__circle:not(:last-child){
    margin-right: 8px;
}

.product__inmg {
    width: 100%;
}

.product__inmg img {
    height: 426px;
}

.card__product {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 260px;
    margin-left: 80px;
}

.title__product {
    color: #2f2f2f;
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
    font-family: Raleway,sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.name__product {
    color: #62bfc4;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: Raleway,sans-serif;
    padding: 0;
    margin-bottom: 10px;
 }

.about__product {
    color: #2f2f2f;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    font-family: open sans,sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.btn__product {
    font-size: 11px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    background: #62bfc4;
    padding: 3px 15px;
    font-family: open sans,sans-serif;
    background: #62bfc4;
    border: none;
    width: max-content;
}

.content__bottom {
    background: #fff;
    margin-top: 30px;
    padding: 0 0 30px;
} 
.bottom__top-block {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
    padding: 30px 0;
}

.product__card {
    width: 368px;
    position: relative;
} 

.product__card img {
    width: 100%;
}

product__card:not(:last-child) {
    margin: 0 30px 0 0;
}

.product__card-items {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    margin-left: 30px;
}

.card-items__title {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
}

.card-items__text, 
.card-items__name {
    font-size: 14px;
    line-height: 24px;
    color: #2f2f2f;
    font-weight: normal;
    margin: 0;
    min-height: 50px;
}

.card-items__btn {
    border: 2px solid #fff;
    height: 22px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 14px;
    padding: 12px 14px;
    width: max-content;
    background: transparent;
    display: flex;
    align-items: center;
}

.bottom__block {
    width: 1170px;
    margin: auto;
}

.bottom__block-title {
    color: #2f2f2f;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.tabs__list {
    font-size: 14px;
    line-height: 20px;
    color: #2f2f2f;
    font-weight: 600;
}

.tabs__list-activ {
    color: #62bfc4;
}

.bottom__block li:not(:last-child) {
    margin-right: 20px;
}

.bottom-product__cards {
    width: 270px;
    height: max-content;
    margin-bottom: 30px;
    position: relative;
}

.bottom-product__cards:not(:last-child) {
    margin-right: 30px;
}

.sale {
    width: auto;
    height: auto;
    padding: 10px 20px;
    background: #ff4141;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 100%;
}

.product__cards-img {
    padding: 30px;
    width: 100%;
    background: #F3F3F3;
    margin-bottom: 20px;
    height: 270px;
}

.product__cards-img img {
    width: 100%;
}

.card__text {
    font-size: 12px;
    line-height: 18px;
    color: #767676;
    margin: 10px 0;
    min-height: 74px;
}

.action {
    margin-right: 5px;
    color: #ff4141;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.price {
    min-height: 30px;
}

.present__price {
    color: #353737;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration-line: line-through;
}

.product__icons {
    background: rgba(98, 191, 196, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 14px;
}

.product__icons span {
    font-size: 24px;
    line-height: 40px;
}

.product__icons:not(:last-child) {
    margin-right: 8px;
}

.product__categori {
    color: #2f2f2f;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.product__categori span {
    font-size: 16px;
    margin-left: 4px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    transform: skew(-20deg, 0);
    right: 350px;
    backface-visibility: hidden;
    background: #3f3f3f none repeat scroll 0 0;
    z-index: -1;
}

.content__banner {
    width: 1170px; 
    margin:30px auto;
}

.banner__information-left {
    position: relative;
}

.banner__information-right {
    position: relative;
}

.position__field-left {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 325px;
    margin-left: 60px;
}

.field-left__title {
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 14px;
}

.field-left__name {
    font-size: 18px;
    line-height: 24px;
    color: #2f2f2f;
    font-weight: bold;
}

.field-left__btn {
    border: 2px solid #fff;
    height: 22px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    padding: 10px 14px;
    margin-top: 14px;
    width: max-content;
    background: transparent;
    display: flex;
    align-items: center;
}

.position__field-right {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    bottom: 40px;
}

.field-right__title {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
}

.field-right__name {
    font-size: 14px;
    line-height: 24px;
    color: #2f2f2f;
    font-weight: bold;
}

.field-right__btn {
    border: 2px solid #fff;
    height: 22px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    padding: 10px 14px;
    margin-top: 14px;
    background: transparent;
    display: flex;
    align-items: center;
}

.block-season__sale {
    width: 1170px;
    margin: auto;
}

.season__sale-title {
    color: #2f2f2f;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 600;
}

.season__sale-content {
    width: 100%;
}

.banner__too {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    margin-top: 20px;
    height: max-content;
}

.banner__too-card {
    position: relative;
    transform: skew(-10deg, 0deg);
    width: max-content;
    height: 100%;
}

.block__telegram {
    backface-visibility: hidden;
    background: #90d7eb;
}

.block__rocket {
    backface-visibility: hidden;
    background: #42add7;
}

.block__like{
    backface-visibility: hidden;
    background: #8482cb;
}

.banner__too-card-info {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}

.too-card__title {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
}

.too-card__price {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: 600;
}

.latest__blog {
    width: 1170px;
    margin: 0 auto 30px;
}

.latest__blog-title {
    color: #2f2f2f;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px ;
    margin-top: 30px;
    font-weight: 600;
}

.latest__blog-card {
    width: max-content;
    height: max-content;
}

.latest__blog-card:not(:last-child) {
    margin-right: 30px;
}

.latest__blog-img,
 img{
    width: 100%;
}

.latest__blog-content {
    height: max-content;
}

.blog-content-title {
    color: #2f2f2f;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    max-height: 60px;
    min-height: 30px;
}

.box__date {
    background: #f3f3f3;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #767676;
    display: flex;
    align-items: center;
    height: 40px;
}

.blog-content-text {
    margin:20px 0;
    font-size: 12px;
    line-height: 18px;
    color: #767676;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    min-height: 30px;
    max-height: 70px;
}

.blog-content-btn {
    background: #62bfc4;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-weight: bold;
    border: none;
}

.footer__container {
    background: #323232;
}

.footer__list {
    width: 1170px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between ;
    padding: 60px 0;
}

.menu {
    width: max-content;
    height: max-content;
}

.menu:not(:last-child) {
    margin-right: 30px;
}

.list__title {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
}

.list__name {
    color: #767676;
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
}

.footer__bottom {
    display: flex;
    align-items: center;
    padding: 20px 90px;
    background: rgb(36, 35, 35);
}

.bottom__date {
    font-size: 14px;
    line-height: 20px;
    color: #777;
    font-weight: 600;
    margin-right: 4px;
}

.bottom__item1 {
    font-size: 14px;
    line-height: 20px;
    color: #62bfc4;
    font-weight: 600;
    cursor: pointer;
}

.bottom__item1:first-child {
    margin-right: 4px;
}




/* https://demo.templatemonster.com/ru/demo/64014.html?_gl=1*q310dc*_ga*ODAzNTQ2OTExLjE2MTI1MTI3Mzc.*_ga_FTPYEGT5LY*MTYxMzM4NDUwNy4yLjEuMTYxMzM4NTMyMC41MA..&_ga=2.218156959.74089440.1613384509-803546911.1612512737 */